.git
.gitignore
.github
.vscode
node_modules
.output
.nuxt
.data
dist
coverage
test-results
playwright-report
tests
**/*.log
.env
.env.*
!.env.example
storage/uploads
storage/variants
storage/downloads
Dockerfile
.dockerignore
docker-compose*.yml
Readme.md
*.md
