{
  "version": 1,
  "modules": {
    "editor": {
      "enabled": true,
      "blocks": {
        "accordionBlock": true,
        "annotationBlock": true,
        "blockMath": true,
        "blockquote": true,
        "codeBlock": true,
        "columnsBlock": true,
        "customHtml": true,
        "dialogueBlock": true,
        "diffBlock": true,
        "filesBlock": true,
        "footnotesBlock": true,
        "horizontalRule": true,
        "image": true,
        "inlineMath": true,
        "mediaText": true,
        "mermaid": true,
        "relatedPost": true,
        "table": true,
        "tabsBlock": true,
        "videoEmbed": true
      }
    },
    "logs": {
      "enabled": true,
      "activityLogs": true,
      "errorLogs": true
    },
    "analytics": {
      "enabled": true,
      "geoip": true
    },
    "users": {
      "enabled": false,
      "multiUser": false
    },
    "themes": {
      "enabled": true,
      "bundled": {
        "tesla": true,
        "clay": true,
        "notion": true,
        "hexagon": true
      }
    },
    "mfa": {
      "enabled": true
    },
    "securityAlerts": {
      "enabled": false
    },
    "backups": {
      "enabled": true
    },
    "graphView": {
      "enabled": true
    },
    "publishActivityHeatmap": {
      "enabled": true
    },
    "postVersioning": {
      "enabled": false
    }
  }
}
